@font-face {
    font-family: "fuente1";
    src: url(../fuentes/BlackOpsOne-Regular.ttf);
}

@font-face {
    font-family: "halelluya";
    src: url(../fuentes/GloriaHallelujah-Regular.ttf);
}

@font-face {
    font-family: "carter";
    src: url(../fuentes/CarterOne-Regular.ttf);
}

@font-face {
    font-family: "tadeo";
    src: url(../fuentes/Righteous-Regular.ttf);
}